extends ../layouts/index

block content
  .info-page
    .row-fluid
      .span3
        include ../includes/infosidebar
      .span9
        .info-content
          h3 Team
          br
          h4
            | Daniel Fernández&nbsp;
            small (Co-Founder)
          p.person
            | Daniel is a software engineer with extensive experience on leading projects, managing teams and analysis/design/construction of Web applications. His passion is to build apps that really help people lifes and make a living from it. He started working on Browserpipe idea because current bookmarking sites do not solve everyone's problem. His desire is to make Browserpipe a useful tool for those who still have problem saving and organizing the pages they visited. You can find more about Daniel on his 
            a(target="_blank", href="http://dfernandez.me") blog
            | .
          br
          h4
            | Denis Bardadym&nbsp;
            small (Co-Founder)
          p.person
            | Daniel is a software engineer with extensive experience on leading projects, managing teams and analysis/design/construction of Web applications. His passion is to build apps that really help people lifes and make a living from it. He started working on Browserpipe idea because current bookmarking sites do not solve everyone's problem. His desire is to make Browserpipe a useful tool for those who still have problem saving and organizing the pages they visited. You can find more about Daniel on his 
            a(target="_blank", href="http://dfernandez.me") blog
            | .
