extends ../layouts/index

block content
  .info-page
    .row-fluid
      .span3
        include ../includes/infosidebar
      .span9
        .info-content
          h3 FAQ
          br
          h4 Why another bookmarking service?
          p There currently no service that..
          br
          h4 Why another bookmarking service?
          p There currently no service that..
          br
          h4 Why another bookmarking service?
          p There currently no service that..
          br
          h4 Why another bookmarking service?
          p There currently no service that..
