extends ../layouts/home

block body
  span#sidebar-section
  #home-section
    .home-inner
      .home-content
        img(src=asset_url("img/loader.gif"), alt="Loading")
  #tab-section
    #tab-header
    iframe(src='about:blank', class="tab-content")
    .loader
      .loader-inner
        img(src=asset_url("img/loader.gif"), alt="Loading")
  #hiddenEventDiv
  #select-folder-modal-section
  #modal-bookmarklet(class="modal fade",style="display: none;")
    .modal-dialog
      .modal-content
  #modal-searchtips(class="modal fade",style="display: none;")
    .modal-dialog
      .modal-content
  include ../includes/footer
