extends ../layouts/home

block body   
    #topbar-section
    #dashboard-section
    #page-section
        iframe(src='about:blank', class="page-content")
    #hiddenEventDiv
    include ../includes/footer
