extends ../layouts/home

block body
  span#dashboard-section
  #page-section
    #page-header
    iframe(src='about:blank', class="page-content")
    .loader
      img(src="/img/loader.gif")
  #hiddenEventDiv
  #modal(class="modal fade")
    .modal-dialog
      .modal-content
  include ../includes/footer
