extends ../layouts/home

block body
  span#dashboard-section
  #page-section
    #page-header
    iframe(src='about:blank', class="page-content")
  #hiddenEventDiv
  #modal(class="modal fade")
    .modal-dialog
      .modal-content
  script.
    console.log(window != window.parent);
  include ../includes/footer
