extends ../layouts/home

block body
  span#sidebar-section
  #new-tab-section
  #tab-section
    #tab-header
    iframe(src='about:blank', class="tab-content")
    .loader
      .loader-inner
        img(src="/img/loader.gif", alt="loading")
  #hiddenEventDiv
  #select-folder-modal-section
  #modal(class="modal fade",style="display: none;")
    .modal-dialog
      .modal-content
  include ../includes/footer
