extends ../layouts/home

block body   
    #home-section
    #browser-section
      #browser
        #browser-commands
        iframe(src='about:blank', class="browser-content")
    #hiddenEventDiv
    include ../includes/footer
