extends ../layouts/home

block body
  span#sidebar-section
  #new-tab-section
  #tab-section
    #tab-header
    iframe(src='about:blank', class="tab-content")
    .loader
      img(src="/img/loader.gif", alt="loading")
  #hiddenEventDiv
  #modal(class="modal fade")
    .modal-dialog
      .modal-content
  include ../includes/footer
