extends ../layouts/index

block content
            
  .reasons
    h3 NO MORE 1000 TABS IN YOUR BROWSER!
    h3 SYNC THEM WITH LISTBOARD.IT
    h3 DRAG AND DROP FOR LATER USE
    h3 SEARCH ACROSS ALL OPEN TABS
  .box.register-box.border
    #thanks_box.hide
      h2 Thank you!
      h4 
        | We will send you an invitation soon. 
      h4
        | If you want to let us know why you would like an account or just share some feedback, please email us to 
        a(href="mailto:info@listboard.it", target="_blank") info@listboard.it
      h4
        | For more updates, 
        a(href="http://twitter.com/listboardit", target="_blank") follow us 
        | on Twitter.
    form#form_invitation(action="/invites", method="post")
      h2 Want to try it out?
      h4 
        | We are progressively admitting new users. Feel free to leave us your email and we will contact you. 
      .control-group
        input(type="text", name="invite_email", placeholder="Enter your email address", class="input-block-level")
        span.help-inline.hide Please enter a valid email
        .note-block No spam, we will only send you an invitation
      .control-group
        input(type="submit", class="btn btn-success btn-block btn-big", value="Count me in!")

block center
  .row-fluid.center.row-inner
    .span12 
      .row-fluid 
        .inner
          #demoappcont
            != image_tag('img/index/capture.png')
          
          .box.features-box.clearfix
            h2 You will love it!
            #container-capture
              != image_tag('img/index/container-capture.png')                                     
            .features          
              h4 
                i.icon-check-square-o
                | &nbsp;&nbsp; Sync your browsers between different machines
              h4 
                i.icon-check-square-o
                | &nbsp;&nbsp; Search content across all your opened tabs              
              h4 
                i.icon-check-square-o
                | &nbsp;&nbsp; Drag and drop specific tabs for later user    
              h4 
                i.icon-check-square-o
                | &nbsp;&nbsp; Save full browser sessions
              h4 
                i.icon-check-square-o
                | &nbsp;&nbsp; Archive tabs for future use (bookmark)
              h4 
                i.icon-check-square-o
                | &nbsp;&nbsp; Organize archived tabs within folders and tags
              h4 
                i.icon-check-square-o
                | &nbsp;&nbsp; Import URLs from external sources
              h4 
                i.icon-check-square-o
                | &nbsp;&nbsp; Export data to different formats              
              h4 
                i.icon-check-square-o
                | &nbsp;&nbsp; Real time updates   
            
          .box.register-box    
            form#form_invitation2(action="/invites", method="post")
              h2 Interested?
              .control-group
                  input(type="text", name="invite_email2", placeholder="Enter your email address", class="input-block-level")
                  span.help-inline.hide Please enter a valid email
                  .note-block No spam, we will only send you an invitation
                .control-group
                  input(type="submit", class="btn btn-success btn-block btn-big", value="Sign me in!")    
            #thanks_box2.hide
              h2 Thank you!
              h4 
                | We will send you an invitation soon. 
              h4
                | If you want to let us know why you would like an account or just share some feedback, please email us to 
                a(href="mailto:info@listboard.it", target="_blank") info@listboard.it
              h4
                | For more updates, 
                a(href="http://twitter.com/listboardit", target="_blank") follow us 
                | on Twitter.

          .box.last
            h2 Comments?
            p 
              | We would love to 
              a(href="mailto:info@listboard.it", target="_blank") hear from you
        
block footer
  :js
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-42652416-1', 'listboard.it');
    ga('send', 'pageview');
  != javascript_tag('js/index')
