extends ../layouts/index

block content
  .info-page
    .row-fluid
      .span3
        include ../includes/infosidebar
      .span9
        .info-content
          h3 Privacy conditions
          br
          h4 Our privacy policy
          p Browserpipe does not share personal information of any kind with anyone. We will not sell or rent your name or personal information to any third party. We DO NOT sell, rent or provide outside access to our mailing list or any data we store. Any data that a user stores via our facilities is wholly owned by that user or business. At any time a user or business is free to take their data and leave, or to simply delete their data from our facilities.
          p Browserpipe only collects such personal information that is necessary for you to access and use our services. This personal information includes, but is not limited to, first and last name, physical address, zip code, email address, phone number, social security number, birth date, credit card information, financial information, and other personal information necessary to generate proper legal documents.
          p Browserpipe may release personal information if Browserpipe is required to by law, search warrant, subpoena, court order or fraud investigation. We may also use personal information in a manner that does not identify you specifically nor allow you to be contacted but does identify certain criteria about our Site's users in general (such as we may inform third parties about the number of registered users, number of unique visitors, and the pages most frequently browsed).
          br
          h4 Policy changes
          p If we change our privacy policy we will post those changes on this page. Registered users will be sent an email that outlines changes made to the privacy policy.
          p
            b Last updated:&nbsp;
            | May 25th, 2014
