extends ../layouts/index

block content
  .info-page
    .row-fluid
      .span3
        include ../includes/infosidebar
      .span9
        .info-content
          h3 Terms of service
          br
          h4 1. General Terms
          p 1.1 By accessing and placing an order with Browserpipe, you confirm that you are in agreement with and bound by the terms and conditions contained in the Terms Of Use outlined below. These terms apply to the entire website and any email or other type of communication between you and Browserpipe.
          br
          h4 2. Products
          br
          h4 3. Security
          br
          h4 Changes to terms
          p If we change our terms of use we will post those changes on this page. Registered users will be sent an email that outlines changes made to the terms of use.

