#bottom-bar(class="navbar navbar-fixed-bottom")
  ul#breadcrumb(class="nav pull-left")  
  ul#trash(class="nav pull-right")
    li(class="dropdown nav-option") 
      a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
        img(src="/img/bin.png", alt="Trash")
      ul(class="dropdown-menu")
        li
          a(tabindex="-1", href="#") Open
        li(class="divider")
          li                
            a(tabindex="-1", href="#") Empty Trash