//Application scripts
script.
    var initialOptions = {
        user: !{ JSON.stringify(user).replace(/\//g, '\\/') },
        items: !{ JSON.stringify(items).replace(/\//g, '\\/') }
    };

!= javascript_tag ('js/apps/main')