//Application scripts
:js
    // <![CDATA[
        var initialOptions = {
            listboards: !{JSON.stringify(listboards)},
            folders: !{JSON.stringify(folders)},
            items: !{JSON.stringify(items)}
        }
    // ]]>
!= javascript_tag ('js/apps/main')