#bottom-bar(class="navbar navbar-fixed-bottom")
  ul#breadcrumb(class="nav pull-left")  
  ul#trash(class="nav pull-right")
    li(class="dropdown nav-option") 
      a(href="#", class="dropdown-toggle", data-toggle="dropdown") 
        img(src="/img/bin.png", alt="Trash")
      ul(class="dropdown-menu")
        li
          a(tabindex="-1", href="#") Open
        li(class="divider")
          li                
            a(tabindex="-1", href="#") Empty Trash
            

//Application scripts
script
  var initialOptions = {           
    currentDashboardId: '#{currentDashboardId}',
    dashboards: !{JSON.stringify(dashboards)},
    containers: !{JSON.stringify(containers)},
    tags: !{JSON.stringify(tags)}
  }
script(data-main="/js/main", src="/js/libs/require/require.js")
//script(src='/js/almond.js')
//script(src='/js/tagnfile.it.js')
   
//HTML5 shim, for IE6-8 support of HTML5 elements
//if lt IE 9
  script(src='http://html5shim.googlecode.com/svn/trunk/html5.js')  
script(src='/js/libs/modernizr/modernizr-2.6.1-respond-1.1.0.min.js')