header#header
// if lt IE 7
  <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
div#top-bar(class="navbar navbar-fixed-top")
  div(class="navbar-inner")
    div(class="container-fluid")
      a(data-target=".nav-collapse", data-toggle="collapse", class="btn btn-navbar", data-original-title="")
        span(class="icon-bar")
        span(class="icon-bar")
        span(class="icon-bar")
      a(href="index.html", class="brand", data-original-title="")
        //img(alt="Tagnfile.it", src="/img/logo-small.png")
        span TAGNFILE.IT
      ul(class="nav pull-left notifier")
        li(class="divider-vertical")
        li
          a(href="#", data-original-title="")
            i(class="icon-comment icon-white")
            span(class="label label-important") 15
      div(class="right-menu nav-collapse")
        ul(class="nav pull-right")
          li(class="divider-vertical")
          li(class="dropdown")
            a(href="#", data-toggle="dropdown", data-original-title="") 
              span #{req.user.name}
          li
            a(href='/logout') Logout     
div#filter-bar(class="navbar navbar-fixed-top")  
  div#filter-bar-inner
    span.pull-left
      img#img-tag-home(src="/img/tag.png")
    span.pull-left
      form(class="form-search")
        div(class="input-append")
          input#search-box(type="text")
          button#search-btn(type="submit", class="btn") Search
    .clearfix
