header#header
// if lt IE 7
  <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
#top-bar(class="navbar navbar-fixed-top")
    div(class="navbar-inner")
        div(class="container-fluid")            
            ul#account-nav(class="nav pull-right")                
                li(class="dropdown nav-option")
                    a(href="#", class="dropdown-toggle", data-toggle="dropdown")
                        i.icon-user
                    ul(class="dropdown-menu")
                        li
                            a(tabindex="-1", href="/settings") 
                                i.icon-none
                                    span Settings
                        li
                            a(tabindex="-1", href="/help")
                                i.icon-none 
                                    span Help
                        li(class="divider")
                        li
                            a(tabindex="-1", href="/logout") 
                                i.icon-none
                                    span Logout 
            a.pull-left(href="/", class="brand", data-original-title="")
                h1 Listboard.it
            ul#section-selector(class="nav pull-left")                
                li(id="sections-selector", class="nav-option")
                    a(href="/listboards") Sections
            #search-cont
                button#search-btn(type="submit", class="btn") 
                    i.icon-search
                        span.icon-label Search
                span#search-span
                    input#search-box(type="text", class="uncompressed")         
