# general things
.DS_Store
.idea
*.swp

node_modules/
bower_components/
npm-debug.log
newrelic_agent.log

public/css/*.css

# where my mongo live
/data

# istanbul
/coverage

# where mincer store compiled assets
compiled-assets

# where builded apps lives
/public/js/apps/

# where screenshots lives
/public/screenshots/

# this one create by default jobs
/store/

# current script which build browser tests
/public/js/test/test.js

# admin
/admin/public/templates/
/admin/node_modules/
*.rdb

#logs
/logs/*

# where makefile build xml for jenkins
/results/*
public/storage
dist
*.heapsnapshot
