node_modules/
.monitor
.DS_Store
npm-debug.log
public/css/*.css
app-cov
coverage.html
public/js/listboard.it.js
_src-with-coverage
_test-with-coverage
.idea
builtAssets
data
public/bower_components
main.min.js
main.min.map
.lmd/logs
coverage
compiled-assets
public/js/apps/
