#page-folder-edit.row-fluid.ps-page.hidden
//form.form-horizontal(method="post", action="/folders/"+folder._id)
    form.form-horizontal(method="post")
        input(name='_method', value='PUT', type='hidden')
        fieldset
//legend Edit #{folder.label}
            legend Edit
            .control-group
                label.control-label(for='label') Label
                .controls
  //input#label.input-xlarge(type='text', name="folder[label]", value=folder.label, placeholder='Enter the label')
                    input#label.input-xlarge(type='text', placeholder='Enter the label')
            .form-actions
                button.btn.btn-primary(type='submit') Save changes
                &nbsp;
                a.btn(href='/folders', title="cancel") Cancel

