
!= messages()

form.form-horizontal(method="post", action="/folders/"+folder._id)
    input(name='_method', value='PUT', type='hidden')
    fieldset
        legend Edit #{folder.label}
        .control-group
          label.control-label(for='label') Label
          .controls
            input#label.input-xlarge(type='text', name="folder[label]", value=folder.label, placeholder='Enter the label')        
        .form-actions
          button.btn.btn-primary(type='submit') Save changes
          &nbsp;
          a.btn(href='/folders', title="cancel") Cancel

