// Core variables and mixins
// Rules import
@import "common/colors.less";
@import "common/util.less";
@import "messenger/messenger.less";

* {
  font-family: "Lucida Grande", "Lucida Unicode MS", sans-serif;
}

html,body {
  height:100%;
  margin:0;
  padding:0;
}

.overflow-hidden {
  overflow:hidden;
}

body {
  color: #666;
  background-color: #fff;
}

.messenger {

  .alert-info {
    background-color: #f89406;
    border-color: #ff6600;
    color: #fff;
  }
  .messenger-message {
    .messenger-actions {
      a {
        color: #fff;
      }
    }
  }
}

.loader {
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: 48px;
  height: 48px;
  z-index:-100;
}

h1 {
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  color: #333;
  font-size: 3em;
  font-weight: 800;
  font-style: italic;
}

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 300;
}

a {
  color: #ff6d16;
}


.fa {
  color: #666;

  &:hover {
    cursor: pointer;
    color: darken(#666, 15%);
  }
}

.modal-bookmarklet-content{
  .bookmarklet {
    margin-top: 27px;

    .bookmarklet-link {
      border: 2px dashed #f89406;
      margin-right: 6px;
      padding: 3px 6px;
      color: #f89406;

      &:hover {
       	cursor: grab;
        text-decoration: none;
      }
    }
  }
}

#topbar-section {
  background-color: #f5f5f5;
  height: 51px;
  z-index: 100;
  position: relative;

  #logo {
    width: 22px;
    float: left;
    margin: 2px 0 0;

    &:hover {
      cursor: pointer;
    }
  }
  .topbar-commands {
    z-index: 20;
    height: 27px;
    position: relative;
    width: 100%;

    .search-options {
      display: inline-block;
      margin-bottom: 10px;
      vertical-align: middle;
      font-size: 0;
      white-space: nowrap;
      width: 60%;
      margin: 1px 0 0 6px;

      .url-input {
        width: 90%;
        height: 24px;
        margin: 0;
        border-radius: 0px;
      }
      .url-btn {
        width:  36px;
        height: 24px;
        line-height: 10px;
        padding: 4px 6px;
        border: 0;
        color: #fff;
        background: #ff6d16;
      }
    }
    .nav-option {
      list-style: none;

      a {
        color: #666;
      }
      .dropdown-menu {

        li{
          a {
            &:hover {
              color: #fff;
              background: #f89406;
            }
          }
        }
        .divider {
          border-bottom: 1px solid #ccc;
        }
      }
    }
    .user-options {
      text-align: left;
      margin: 3px 3px 0 0;
      position: absolute;
      top: 0;
      right: 0;

      .nav-option {
        float: left;
        margin: 0 12px;
      }
      .dropdown-menu {
        left: inherit;
        right: 0px;
      }
      .dropdown-toggle {
        margin-left: 6px;
        font-size: 14px;
      }
    }
    .bookmarklet-options {
      margin: 3px 3px 0 0;
      float: left;
      margin-left: 6px;

      a {
        margin-right: 6px;
        font-size: 14px;
      }
    }
  }
  .sub-bar {
    height: 24px;
    background-color: #fff;

    .breadcrumb {
      overflow: hidden;
      text-align: left;
      padding: 0;
      position: absolute;
      right: 58px;
      left: 3px;
      margin: 0;
      height: 24px;
      background-color: #fff;
      font-weight: bold;

      .breadcrumb-inner {
        position: absolute;
        bottom: 0;

        li {
          display: inline-block;

          img {
            margin: 0 3px 3px 0;
          }
        }
      }
    }
    .move-to-folder, .new-folder {
      font-size: 14px;
      margin-top: 1px;
      padding: 0 3px;
      border: 1px dashed #999;
      cursor: default;
      -webkit-transition: all 0.3s ease;
      -moz-transition: all 0.3s ease;
      -o-transition: all 0.3s ease;
      transition: all 0.3s ease;

      &:hover {
        cursor: pointer;
        color: #333;
        border-color: #333;
      }
    }
    .move-to-folder {
      position: absolute;
      right: 32px;
    }
    .new-folder {
      position: absolute;
      right: 6px;
    }
  }
}

#dashboard-section {

  .dashboard {
    height: 100%;

    .dashboard-content {
      height: 100%;
      margin: -51px 0 0;
      padding: 51px 0 0;

      .add-option {
        position: absolute;
        bottom: 0;
        z-index: 100;
        padding: 6px 0 0 6px;
        height: 32px;
        width: 90px;
        color: #fff;
        display: inline-block;
        background-color: #ff6d16;
        font-size: 13px;
        font-weight: bold;

        .fa {
          font-size: 21px;
          margin-left: 6px;
        }
        &:hover {
          cursor: pointer;
          background-color: darken(#ff6d16, 15%);
        }
      }
      .items {
        overflow-y: auto;
        height: 100%;

        .tab, .folder {
          width: 248px;

          .mask {
            opacity: 0.0;
            position: absolute;
            z-index: 10;
            width: 66px;
            height: 21px;
            right: 0;
            background-color: #fff;

            &.hide {
              display: none !important;
            }

            .mask-options {
               padding-right: 12px;

               .mask-option {
                 margin-left: 12px;

                 &.left {
                   float: left;
                 }
                 &.right {
                   float: right;
                 }
                 input {
                   margin-top: 0;
                 }
               }
             }
          }

          &:hover {
            cursor: pointer;

            .mask {
              opacity: 0.8; 
              -webkit-transition: all 0.5s ease-in-out;
              -moz-transition: all 0.5s ease-in-out;
              -o-transition: all 0.5s ease-in-out;
              transition: all 0.5s ease-in-out;
            }
          }

        }

        .folder {
          height: 27px;
          margin: 6px 6px 0;
          float: left;
          overflow: hidden;
          position: relative;
          border: 1px solid #ccc;
          background-color: #ddd;
          -webkit-border-radius: 2px;
          -moz-border-radius: 2px;
          -ms-border-radius: 2px;
          -o-border-radius: 2px;
          border-radius: 2px;

          &.folder-up {
            text-align: center;
          }
          .folder-title {
            line-height: 14px;
            width: 242px;
            height: 27px;
            font-size: 14px;
            padding: 6px 3px 0;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
            display: inline-block;
          }

          .title-editor {

            input {
              width: 180px;
              display: block;
              height: 36px;
              margin: 48px 12px 0 12px;
            }
            .btn {
              float: left;

              &.edit-title-save {
                margin: 3px 0 0 12px;
              }

              &.edit-title-cancel {
                margin: 3px 0 0 3px;
              }
            }
          }

        }

        .tab {
          margin: 6px 4px 0;
          float: left;
          position: relative;
          border: 2px solid #fff;

          &.selected {
            border: 2px solid #ff6d16 !important;
          }
          .tab-content {
            border: 1px solid black;
            width: 248px;
            height: 115px;
            overflow: hidden;
            position: relative;

            .tab-screenshot {
              max-width: none;
              position: absolute;
            }
          }

          .tab-footer {
            height: 25px;

            .tab-favicon {
              float: left;
              margin-top: 3px;
            }
            .tab-title {
              font-size: 12px;
              margin-left: 3px;
              color: #333;
              width: 225px;
              text-overflow: ellipsis;
              overflow: hidden;
              white-space: nowrap;
              display: inline-block;
            }
          }

        }
      }
    }
  }
}

#page-section {
  position: absolute;
  right: 269px;
  left: 0px;
  height: 100%;

  #page-header {
    position: relative;
    height: 24px;
    background-color: #ddd;

    .back-option, .forward-option, .refresh-option {
      display: inline-block;
      font-size: 14px;
      -webkit-touch-callout: none;
      -webkit-user-select: none;
      -khtml-user-select: none;
      -moz-user-select: none;
      -ms-user-select: none;
      user-select: none;

      i.disabled {
        color: #bbb;
      }
    }
    .back-option, .forward-option {
      margin: 0 6px;
    }
    .refresh-option {
      margin-left: 12px;
    }
    .message {
      font-size: 13px;
      margin-left: 18px;
    }
    .close-option {
      color: #666;
      float: right;
      margin-right: 12px;
    }
  }
  .page-content {
      margin: -24px 0 0;
      padding: 24px 0 0;
      background-color: #fff;
      height: 100%;
      width: 100%;
      border: 0;
    }
}

