// Core variables and mixins

// Rules import
@import "common/colors.less";
@import "common/util.less";
@import "home/top/top.bar.less";
@import "home/top/top.bar.responsive.less";
@import "home/center/listboards.panel.less";
@import "home/center/listboards.panel.responsive.less";
@import "home/center/listboard.less";
@import "home/center/listboard.responsive.less";
@import "home/center/listboard.settings.less";
@import "home/center/listboard.settings.responsive.less";
@import "home/center/item.less";
@import "home/center/item.responsive.less";
@import "home/center/container.less";
@import "home/center/container.responsive.less";
@import "home/center/folder.less";
@import "home/center/folder.responsive.less";
@import "home/dialog/dialog.less";
@import "home/dialog/dialog.responsive.less";
@import "home/dialog/item.view.dialog.less";
@import "home/dialog/item.view.dialog.responsive.less";
@import "home/footer/footer.less";

@import "home/center/panel/panel.less";
@import "home/center/panel/panel.responsive.less";



html, body {
    overflow: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
}

#body-inner {
    height: 100%;

    .wrapper {
        height: 100%;

        .main-header { 
            height: 160px;            
        }
        .main-content {        
            height: 100%;  
             overflow:hidden;
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            -ms-box-sizing:border-box;
            box-sizing:border-box;
            margin:-160px 0 -21px 0;
            padding:160px 0 21px 0;            
        }
        .main-footer {
            height: 21px;
        }

    }
}

