!!! 5
html(lang='en')
    head
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1.0')
        meta(name='description', content='')
        meta(name='author', content='')
        title Authorization
        // Bootstrap core CSS
        link(href='/css/api/bootstrap.css', rel='stylesheet')
        // Custom styles for this template
        link(href='/css/api/error.css', rel='stylesheet')
        // HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries
        //if lt IE 9
            script(src='/bower_components/bootstrap/assets/js/html5shiv.js')
            script(src='/bower_components/bootstrap/assets/js/respond.min.js')
    body
        .container
            div.bs-callout.bs-callout-danger
                h4 Error
                p
                | Query parameter
                b  '#{param}'
                |  should be presented, do not repeat and be valid



