.containers {  
    display: table;        
    padding: 0 12px;
    -webkit-overflow-scrolling: touch;    
    margin: 0;
    padding: 0;
    border-collapse: separate;
    border-spacing: 7px;

    .container {
        display: table-cell;        
        position: relative;
        background: @grey1;
        margin: 6px 12px 6px 0;
        padding: 6px;
        width: 260px;
        overflow-y: hidden;         
        .box-sizing(border-box);    
        border: 2px solid @grey1;
        border-spacing: 0;
        vertical-align:top;
            
        .container-header {        
            .clearfix();   
            height: 36px;
            position: relative;
            
            .title {
                font-weight: bold;
                color: @grey3;
                margin: 0 0 6px 6px;
                font-size: 16px;            
                float: left;
                max-width: 240px;  
                margin-left: 20px;

                .le-label {  
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    width: 200px;
                    display: block;
                    overflow: hidden;

                    &.default {
                        font-style: italic;
                        color: @grey4;
                    }
                }            
                &:hover {
                    cursor:pointer; 
                } 
                i {
                    color: @grey4;
                }
                input[type=text] {
                    width: 110px;
                }
            }
            .tabs-count {
                position: absolute;
                right: 20px;
                font-size: 10px;
            }
            .close-container {
                .opacity(50);
                position: absolute;
                right: 0px;

                &:hover {
                    cursor:pointer; 
                    .opacity(100);
                } 
            }
            .edit-title {
                margin-bottom: 6px;

                input {
                    width: 130px;
                }
            }
        }
        .favicon {
            height: 16px;
            width: 16px;
        }
        .box {        
            overflow-y: auto; 
            position: relative;
        }   
        .container-footer {

            .add-item {

                .item-url {
                    width: 228px;
                    margin: 0;
                    resize: vertical;
                }
            }        
            .opt-add-item {
                color: #777;
                font-size: 12px;

                &:hover {
                    color: #333;
                    cursor: pointer;
                }
            }
        }   
        &.selection-selected {
            border: 2px solid @blue4;
            background-color: @blue4;

            &.selection-dragged {
                background-color: @grey1;
                .opacity(15);
            }
        }     
        &.selection-droppable {
            border: 2px dashed #000;
        }
    }
    .sortable-placeholder {   
        display: table-cell; 
        border: 2px dashed #000;        
        position: relative;
        margin: 6px 6px 6px 0;
        padding: 6px;     
        overflow-y: hidden;         
        .box-sizing(border-box);                    

        .text {
            color: @white;
            padding-top: 18px;
            text-align: center;           
            width: 260px;
            height: 60px;
        }
    }
}