.items-container {
    position: relative;
    background: @grey1;
    margin: 6px 2px 6px 2px;
    padding: 6px;
    float:left;
    width: 260px;
    overflow-y: hidden;         
    .box-sizing(border-box);    
    border: 2px solid @grey1;

    .options{
        position: absolute;
        margin-left: 280px;

        .dropdown-toggle{
            display: none;            
        }
        .dropdown-menu {
            left: -150px !important;
        }
    }
    .header {        
        .clearfix();   
        min-height: 20px; 
        position: relative;

        .container-list-icon {            
            .opacity(50);
            position: absolute;

            &:hover {
                cursor:pointer; 
                .opacity(100);
            } 
        }
        .title {
            color: @grey3;
            margin: 0 0 6px 6px;
            font-size: 16px;
            word-wrap: break-word;
            float: left;
            max-width: 240px;              
            width: 200px;
            margin-left: 20px;

            &:hover {
                cursor:pointer; 
            } 
            i {
                color: @grey4;
            }
        }
        .close-container {
            .opacity(50);
            position: absolute;
            right: 0px;

            &:hover {
                cursor:pointer; 
                .opacity(100);
            } 
        }
        .edit-title {
            width: 200px;
            margin-left: 20px;
            margin-bottom: 6px;

            input {
                width: 180px;
                margin-bottom: 3px;
            }
            .edit-title-save {
                .flatten();
            }
            .edit-title-cancel {
                margin-left: 6px;
                vertical-align: bottom;
                font-size: 13px;
                color: @grey4;                
            }
        }
    }
    .favicon {
        height: 16px;
        width: 16px;
    }
    .box {                
        overflow-y: auto; 
        min-height: 80px;
        margin-bottom: 6px;
        position: relative;

        .add-list-icon {    
            font-size: 10px;
            color: @blue; 
            position: absolute;
            right: 12px;
            top: -4px;            
        }
        .add-list {
            margin: 4px 5px 6px !important;

            .add-list-save {
                .flatten();
                .tobutton(@blue, darken(@blue, 6%));
            }
            .add-list-cancel {
                margin-left: 6px;
                vertical-align: bottom;
                font-size: 13px;
                color: @grey4;       
            }
        }
        .lists {
            margin: 4px 5px 6px !important;
            padding-top: 10px;

            
            &.collapsed {

                .collapser {
                    margin-bottom: 6px;   
                }
                .list {
                    display: none;
                }
            }

            .list {
                margin-bottom: 3px;
                padding: 6px 12px;          
                background-color: @blue;   
                position: relative;          

                &:hover{
                    cursor: pointer;
                    background-color: darken(@blue, 6%);
                }        
                .list-label {
                    color: white;
                    text-shadow: 0 1px 0 @blue;                    
                    text-shadow: none;
                    word-break: break-all; 
                    width: 180px;   
                }
                .remove-child-list {
                    display: none;
                    .opacity(30);
                    position: absolute;
                    right: 12px;
                    top: 6px;

                    &:hover{
                        .opacity(50);
                    } 
                }
            }
        }
        .items {
            margin: 0 5px;
            text-align: left;
            font-family: 'Helvetica Neue', Arial, Helvetica, sans-serif;

            .item {                               
                background: #FFFFFF;
                border: 1px solid @grey;
                margin: 0 0 6px 0;
                padding: 3px 6px;     
                font-size: 14x;       
                .box-sizing(border-box);  

                &:hover {
                    cursor: pointer;
                    border: 1px solid @blue;
                }
                a {
                    color: @grey3;     
                    word-break: break-all;
                }
                .description {
                    font-size: 12px; 
                    font-style: italic;
                }
                .details {
                    margin-top: 2px;
                    border-top: 2px solid #EFEFEF;

                    &.collapsed {
                        display:none;
                    }
                    .screenshot {
                        margin-top: 4px;
                        max-height: 200px;
                        max-width: 200px;
                    }
                }
            }   
        }
    }     
    .opt-add-bkmrk {
        color: #777;
        font-size: 12px;

        &:hover {
            color: #333;
        }
    }  
}