@media screen and (max-width:575px) {

	.listboards-panel {
		position: relative;
		width: 100%;
		overflow-x: auto;
		font-size: 12px;

		.listboards {
			
			li {
				width: 30px;
				height: 30px;
				margin: 3px 6px;
				overflow: hidden;
				background-color: #1f3659;
				float: left;
			}
		}
	}

}
@media screen and (min-width:575px) {


}

@media print {}

