.listboard {        
    overflow-x: auto;
    float: left;

    .containers {
        padding: 0 3px;
        -webkit-overflow-scrolling: touch;    
        margin: 0;
        padding: 0;
        height: 200px;
        width: 5000px;

        .container {
            float: left;
            background: @grey1;
            margin: 6px 2px 6px 2px;
            padding: 6px;
            width: 260px;
        }    
    }

    

}