.listboards-panel {
    width: 100%;
    position: relative;        
    overflow-x: auto;
	background-color: @grey;
    .flatten();    

    .listboards {
    	margin: 0;
    	padding: 0;

    	li {            
            width: 90px;
            display: table;
            vertical-align: middle;
    		text-align: center;    		
    		overflow: hidden;
    		background-color: @blue2; 	
            float: left;

            a {             
                display: table-cell;
                vertical-align: middle;   
                color: @white;
                font-weight: bold;
                .opacity(50);

                &:hover {
                    text-decoration: none;
                    cursor:pointer; 
                    .opacity(100);
                }
                &.selected {
                    .opacity(100);                 
                }
            }
    	}
    }

}