.listboards-panel {    
    position: absolute; 
    top: 46px;
    width: 100%;
    overflow-x: hidden;
    .flatten();  

    .listboards-panel-inner { 
        height: 104px;           
        position: relative;
        overflow-x: hidden;

        .ps-scrollbar-y-rail {
            display: none;
        }    
        .ps-scrollbar-x-rail {
           /* top: 6px;            */
        }   
        .listboards {
            height: 104px;
            display: table;
        	margin: 0;
        	padding: 0;
            border-collapse: separate;
            border-spacing: 12px 3px;    

            ul {
                margin: 0;
                padding: 0;            
            }
            .listboard-option, .extension-button, .add-listboard {
                display: table-cell;                           
                font-size: 13px;
                list-style: none;
                color: @grey2;
                text-align: center;         
                overflow: hidden;        
                font-weight: bold;   
                border: 1px solid #dcdcdc;
                background-color: #F4F4F4;             

                &:hover {
                    cursor:pointer; 
                    border: 1px solid #c6c6c6;
                    
                    .listboard-option-type {
                        .opacity(100);
                    }
                }  
            }
            .extension-button, .add-listboard, .listboard-option {                                        
                vertical-align: middle;
                color: #fff;        
                .opacity(80);    
                background: #777777;
                max-width: 120px;
                padding: 2px;
                text-shadow: none;
                font-size: 14px;
                font-weight: normal;

                &:hover {
                    text-decoration: none;                    
                    .opacity(100);
                }
                .inner {

                    .text {
                        margin: 0 12px;
                    }
                }
            }
            .extension-button, .add-listboard {

                .inner {
                    width: 90px;
                }

            }
            .extension-button{
                background-color: #033649;
            }
            .add-listboard {
                background-color: #036564;
            }

            .listboard-option {                 
                position: relative;
                padding-left: 21px;
                background-color: @grey4;

                .inner {
                    width: 110px;
                }                
                .listboard-option-type {
                    font-weight: normal;
                    text-shadow: none;                    
                    color: @white;                    
                    .rotate(270deg);
                    position: absolute;
                    width: 100px;
                    left: -40px;
                    top: 40px;
                    .opacity(80);

                    &.browser {
                        background-color: #033649;
                    }
                    &.later {
                        background-color: #036564;
                    }
                    .listboard-icon {
                        margin-left: 6px;
                    }
                }                
            }
        }
    }    
}