extends ../layouts/home

block body
  include ../includes/header

    
  #main-container.container-fluid
    #main-row.row-fluid
      .span3.scrollable
        #folder-menu.well.sidebar-nav
          .nav.nav-list
            li.nav-header 
              div.pull-right
                span Folders
                a#btn-add-folder.btn.btn-mini(href="#", data-original-title="Add folder")
                  i.icon-plus
              .clearfix
          //-   li.menu-folder.active
          //-     a(href="#") Developer
          //-   li.menu-folder 
          //-     a(href="#") Movies
          //-   li.menu-folder
          //-     a(href="#") Books
          //-   li.menu-folder
          //-     a(href="#") Movies
          //-   li.menu-folder
          //-     a(href="#") Books
          //-   li.menu-folder
          //-     a(href="#") Movies
          //-   li.menu-folder 
          //-     a(href="#") Books
          //-   li.menu-folder 
          //-     a(href="#") Movies
          //-   li.menu-folder 
          //-     a(href="#") Books
          //-   li.menu-folder
          //-     a(href="#") Movies
          //-   li.menu-folder 
          //-     a(href="#") Books
          //-   li.menu-folder 
          //-     a(href="#") Movies
          //-   li.menu-folder 
          //-     a(href="#") Books
      .span9.scrollable
        .bookmark
          h3 My bookmark 23
          p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
          div
            span.badge.badge-success Posted 2012-08-02 20:47:04
            .pull-right.tab-container
              span.label alice
              span.label story
              span.label blog
              span.label personal
          hr
        .bookmark
          h3 My bookmark 23
          p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
          div
            span.badge.badge-success Posted 2012-08-02 20:47:04
            .pull-right.tab-container
              span.label alice
              span.label story
              span.label blog
              span.label personal
          hr
        .bookmark
          h3 My bookmark 23
          p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
          div
            span.badge.badge-success Posted 2012-08-02 20:47:04
            .pull-right.tab-container
              span.label alice
              span.label story
              span.label blog
              span.label personal
          hr
        .bookmark
          h3 My bookmark 23
          p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
          div
            span.badge.badge-success Posted 2012-08-02 20:47:04
            .pull-right.tab-container
              span.label alice
              span.label story
              span.label blog
              span.label personal
          hr
        .bookmark
          h3 My bookmark 23
          p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
          div
            span.badge.badge-success Posted 2012-08-02 20:47:04
            .pull-right.tab-container
              span.label alice
              span.label story
              span.label blog
              span.label personal
          hr
        .bookmark
          h3 My bookmark 23
          p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
          div
            span.badge.badge-success Posted 2012-08-02 20:47:04
            .pull-right.tab-container
              span.label alice
              span.label story
              span.label blog
              span.label personal
          hr
        .bookmark
          h3 My bookmark 23
          p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
          div
            span.badge.badge-success Posted 2012-08-02 20:47:04
            .pull-right.tab-container
              span.label alice
              span.label story
              span.label blog
              span.label personal
          hr
        .bookmark
          h3 My bookmark 23
          p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
          div
            span.badge.badge-success Posted 2012-08-02 20:47:04
            .pull-right.tab-container
              span.label alice
              span.label story
              span.label blog
              span.label personal
          hr
        .bookmark
          h3 My bookmark 23
          p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
          div
            span.badge.badge-success Posted 2012-08-02 20:47:04
            .pull-right.tab-container
              span.label alice
              span.label story
              span.label blog
              span.label personal
          hr
        .bookmark
          h3 My bookmark 23
          p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
          div
            span.badge.badge-success Posted 2012-08-02 20:47:04
            .pull-right.tab-container
              span.label alice
              span.label story
              span.label blog
              span.label personal
          hr  