extends ../layouts/home

block body
  include ../includes/header

    
  #main-container.container-fluid
    #main-row.row-fluid
      .bookmark
        .bookmark-title My bookmark 23
        p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
        div
          span.badge.badge-success Posted 2012-08-02 20:47:04
          .pull-right.tag-container
            span.label alice
            span.label story
            span.label blog
            span.label personal
      .bookmark
        .bookmark-title My bookmark 23
        p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
        div
          span.badge.badge-success Posted 2012-08-02 20:47:04
          .pull-right.tag-container
            span.label alice
            span.label story
            span.label blog
            span.label personal
      .bookmark
        .bookmark-title My bookmark 23
        p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
        div
          span.badge.badge-success Posted 2012-08-02 20:47:04
          .pull-right.tag-container
            span.label alice
            span.label story
            span.label blog
            span.label personal
      .bookmark
        .bookmark-title My bookmark 23
        p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
        div
          span.badge.badge-success Posted 2012-08-02 20:47:04
          .pull-right.tag-container
            span.label alice
            span.label story
            span.label blog
            span.label personal
      .bookmark
        .bookmark-title My bookmark 23
        p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
        div
          span.badge.badge-success Posted 2012-08-02 20:47:04
          .pull-right.tag-container
            span.label alice
            span.label story
            span.label blog
            span.label personal
      .bookmark
        .bookmark-title My bookmark 23
        p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
        div
          span.badge.badge-success Posted 2012-08-02 20:47:04
          .pull-right.tag-container
            span.label alice
            span.label story
            span.label blog
            span.label personal
      .bookmark
        .bookmark-title My bookmark 23
        p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
        div
          span.badge.badge-success Posted 2012-08-02 20:47:04
          .pull-right.tag-container
            span.label alice
            span.label story
            span.label blog
            span.label personal
      .bookmark
        .bookmark-title My bookmark 23
        p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
        div
          span.badge.badge-success Posted 2012-08-02 20:47:04
          .pull-right.tag-container
            span.label alice
            span.label story
            span.label blog
            span.label personal
      .bookmark
        .bookmark-title My bookmark 23
        p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
        div
          span.badge.badge-success Posted 2012-08-02 20:47:04
          .pull-right.tag-container
            span.label alice
            span.label story
            span.label blog
            span.label personal
      .bookmark
        .bookmark-title My bookmark 23
        p 'You ought to be ashamed of yourself for asking such a simple question,' added the Gryphon; and then they both sat silent and looked at poor Alice, who felt ready to sink into the earth. At last the Gryphon said to the Mock Turtle, 'Drive on, old fellow! Don't be all day about it!' and he went on in these words: Yes, we went to school in the sea, though you mayn'
        div
          span.badge.badge-success Posted 2012-08-02 20:47:04
          .pull-right.tag-container
            span.label alice
            span.label story
            span.label blog
            span.label personal