@blue:					#3360AF;
@blue1:					#26416C;
@blue2:					#1f3659;
@blue3:					#2d4c7f;
@blue4: 				#5585AB;
@grey:					#CCC;
@grey1:					#E3E3E3;
@grey2:					#333;
@grey3:					#444;
@grey4:					#777;
@green:					#1b7e1e;
@green2:				#209323;