!= messages()

form.form-horizontal(method="post", action="/tags")
    fieldset
        legend= title
        .control-group
          label.control-label(for='label') Label
          .controls
            input#label.input-xlarge(type='text', name="tag[label]", value=tag.label, placeholder='Enter the label')        
        input#parentid(type='hidden', name="parentid", value=parentId)
        .form-actions
          button.btn.btn-primary(type='submit') Save changes
          &nbsp;
          a.btn(href='/tags', title="cancel") Cancel

