.modal-view-item {
    .modal-header {
        a {
            font-size: 13px;
            font-weight: normal;
            line-height: 0;
            color: #999999;
        }
        .favicon {
            margin-right: 12px;
            height: 16px;
            width: 16px;
        }
        .edit-item-title {
            &:hover{
                cursor: pointer;
            }
        }            
        .edit-item-title-controls {                
            display: none;
            margin: 6px 0;
        }
        .item-title {
            margin: 0;
        }
        .help-inline {
            font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
            font-size: 14px;
            color: #6b2423;
        }
    }
    .modal-body{
        .item-note-content {
            font-style: italic;
            margin-top: 12px;
        }
        .edit-item-note {
            color: #777;
            font-size: 12px;

            &:hover {
                cursor: pointer;
                text-decoration: underline;
                color: #333;
            }
        }  
        .edit-item-note-controls {
            display: none; 
        }
        #item-note {                       
            margin: 12px 0 0;
            width: 450px;
        }  
        .item-screenshot {
			width: 500px; 
			height: 300px;
		}    
    }
}



