.panel {          
    height:100%;    
    float: left;

    &.full-width {
        width:100%;
    }
    &.half-width {
        width:50%;
    }    
    .sub-bar {
        border-top: 12px solid #2d4c7f;
        height: 36px;
        margin: 0 6px;            
        color: #444;

        .label-editor {
            display: inline-block;

            .le-label {            
                font-weight: bold;
                font-size: 16px;
                margin: 6px 18px 0 12px;

                &:hover {
                    cursor: pointer;
                }
            }
            .le-editor {
                margin-left: 12px;
            }
        }

        .last-sync-time {
            font-size: 10px;
            font-style: italic;
        }

        .navbar-inner {   
            margin: 0;
            padding: 0;
            padding-top: 3px;            
            min-height: 33px;
            .flatten();  
            overflow: hidden;
            background: none;

            a {
                margin: 0 6px;
                text-shadow: none;
                padding: 4px 12px;
            }
        }
    }

    .panel-center {                 
        height: 100%;
        overflow-y:hidden;                  
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box;
        margin:-48px 0 0 0;
        padding:48px 0 0 0;        
        
        .items {
            position: relative;            
            height: 100%;   
            overflow-y:hidden;                  
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            -ms-box-sizing:border-box;
            box-sizing:border-box;

            .ps-scrollbar-x-rail {
                display: none;
            }    
        }
    }
   

}