.panel {          
    height:100%;    
    float: left;
    
    &.full-width {
        width:100%;
    }
    &.half-width {
        width:50%;
    }    
    .sub-bar {        
        border-top: 9px solid #fff;
        height: 36px;
        margin: 0 6px;            
        color: #444;

        &.border {
            border-top: 9px solid #2d4c7f;
        }

        .navbar-inner {               
            margin: 0;
            padding: 0;
            padding-top: 3px;            
            min-height: 33px;
            .flatten();  
            overflow: hidden;
            background: none;

            .nav {

                &.nav-left {
                    float: none;
                    overflow: hidden;

                    li {
                        width: 100%;
                        line-height: 14px;

                        .listboard-icon {
                            float: left;
                            margin: 6px;
                        }
                        .label-editor {            

                            .le-label {            
                                text-overflow: ellipsis;
                                overflow: hidden;                
                                white-space: nowrap;
                                font-weight: bold;
                                font-size: 16px;
                                margin: 6px 12px 0 0;

                                &:hover {
                                    cursor: pointer;
                                }
                            }
                            .le-editor {
                                margin-left: 12px;
                            }
                        }
                    }
                }
            }
            
            a {
                margin: 0 6px;
                text-shadow: none;
                padding: 4px 12px;
            }

            .sub-title {
                font-size: 10px;
                font-style: italic;
            }
        }
    }
    .panel-center {                 
        height: 100%;
        overflow-y:hidden;                  
        -webkit-box-sizing:border-box;
        -moz-box-sizing:border-box;
        -ms-box-sizing:border-box;
        box-sizing:border-box;
        margin:-48px 0 0 0;
        padding:48px 0 0 0;        
        
        .items {
            position: relative;            
            height: 100%;   
            overflow-y:hidden;                  
            -webkit-box-sizing:border-box;
            -moz-box-sizing:border-box;
            -ms-box-sizing:border-box;
            box-sizing:border-box;

            .ps-scrollbar-x-rail {
                display: none;
            }    
        }
    }
}