.modal-header
  button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
  h4(class="modal-title") Bookmarklets
.modal-body.modal-bookmarklet-content
  p
    b Bookmarklets are useful to quickly save the current tab to Browserpipe.
  p Installing our bookmarklet is very easy, just drag and drop the orange dashed box to the bookmarks toolbar of your browser. To use it, click the generated link in the bookmarks toolbar.
  .bookmarklet
    a.bookmarklet-link(href=code) ✚ Browserpipe
    it shows a sidebar to save and navigate tabs
.modal-footer
  button(type="button", class="btn btn-default", data-dismiss="modal") Close
