.modal-header
  button(type="button", class="close", data-dismiss="modal", aria-hidden="true") &times;
  h4(class="modal-title") Search tips
.modal-body.modal-bookmarklet-content
  p 
    b Here are some tips that will improve your search
  .search-tip
    a(href="/?search=site%3D%22reddit.com%22") site="reddit.com"
    &nbsp;&nbsp;
    a(href="/?search=site%3D%22washingtonpost%22") site="washingtonpost"
    &nbsp;&nbsp;
    a(href="/?search=site%3D%22http%3A%2F%2Fwww.youtube.com%22") site="http://www.youtube.com" 
    p search by site URL
  .search-tip
    a(href="/?search=ref%3D%22google%22") ref="google"
    &nbsp;&nbsp;
    a(href="/?search=ref%3D%22news.ycombinator.com%22") ref="news.ycombinator.com"
    p search by the page that opened it
  .search-tip
    a(href="/?search=%3C12%2F1%2F2013") <12/1/2013
    &nbsp;&nbsp;
    a(href="/?search=%3E%3D12%2F1%2F2013") >=12/1/2013 
    &nbsp;&nbsp;
    a(href="/?search=%3D7%2F15%2F2013") =7/15/2013 
    p search by creation time (mm/dd/yyy)
  .search-tip
    a(href="/?search=folder%3D%22Books%22") folder="Books"
    &nbsp;&nbsp;
    a(href="/?search=folder%3D%22Blogs%2FNew%20Techonology%2FMobile%22") folder="Blogs/New Techonology/Mobile" 
    p search on a specific folder
  .search-tip
    a(href="/?search=%3Acurrent") :current 
    p search in the current selected folder
  .search-tip
    a(href="/?search=%3Atrash") :trash 
    p search in the trash
.modal-footer
  button(type="button", class="orange-btn", data-dismiss="modal") Close
