.well {
    margin-bottom: 0px !important;
}
 .scrollable{
    overflow: auto;
} 


.bookmark {
    padding: 0 20px;
}

.right-menu {
    divider-vertical {
    height: 57px;
    }
    .navbar-search {
        margin-top: 14px;
    }
    .label {
        margin-top: 14px;
    }
    .nav > li > a {
        padding: 18px 10px;
    }
}
.navbar{
    .notifier {
        margin-top: 10px;
        .label {
            position: relative;
            top: -9px;
        }
    }
}

.tab-container{
    .label {
        margin-left: 3px;
    }
}

#folder-menu {
    .nav-header{
        padding: 3px 0 3px 15px;          

        #btn-add-folder {
            margin-left: 5px
        }
    }
    .nav-list {
        .menu-folder{
            a {
                border-left: 1px solid #DDD;
                border-top: 1px solid #DDD;
                border-right: 1px solid #DDD;
                padding: 12px 10px;
                color: #666;
                font-weight: bold;

                
            }
            a:hover {
                cursor: pointer;
            }
        }
        .menu-folder.active{
            a{
                background-color: #468847;
                border: 1px solid #468847;
                color: white;
                text-shadow: none;
            }
        }
    }
}
