#main-container {
    margin-top: 55px;
    background-image:url('/img/bg.png');
}
#main-row {
    max-width: 900px;
    margin: auto;
    padding: 20px 0 60px 0;
}
#top-bar {
    margin-bottom: 0px;

    .navbar-inner {
        min-height:25px;
        height:25px;

        .container-fluid {
            height:25px;

            a {
                padding: 3px 20px
            }
            .divider-vertical {
                height: 20px;
            }
            .notifier {
                height:20px;
                margin-top: 4px;

                .label {
                    position: relative;
                    top: -9px;
                }
            }
        }          
    }
}
#filter-bar {
    margin: 25px 0 0 0;
    background-color:rgba(255, 255, 255, 0.9);
    color: #000000;       
    width: 100%;

    #filter-bar-inner {
        margin: auto;    

        .btn, .navbar .btn-group {
            margin-top: 0px;            
        }
        #img-tag-home {
            padding: 10px 20px;
        }
        .form-search {
            margin: 0px;
            padding: 4px 0;

            #search-box {   
                max-width: 700px;
                width: 700px;
                margin-left: 160px;
                font-size: 20px;
            }      
        }
    }
}
.bookmark {
    padding: 15px 20px;
    text-align: left;
    background-color: #F2F2F2;
    background-image: -webkit-linear-gradient(top, #F6F6F6, #EEE);
    background-repeat: repeat-x;
    border-bottom-color: #D4D4D4;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    box-shadow: rgba(255, 255, 255, 0.8) 0px 1px 0px 0px inset;

    .bookmark-title {
        font-size: 20px;
        font-weight: bold;
    }    
    .tag-container { 

        .label {
            margin-left: 3px;
        }
    }
}
