// Core variables and mixins
@import "/public/less/bootstrap/variables.less";
@import "/public/less/bootstrap/mixins.less";

// Rules import
@import "/public/less/tag-breadcrumb.less";
@import "/public/less/container.less";

body {
    background-color: @blueDark;
}
#top-bar {
    margin-bottom: 0px;
    border: none;

    .navbar-inner {
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        .container-fluid {
            padding: 5px 0;

            .brand {
                margin: 0;
                padding: 0 20px;
                text-align: center;
                line-height: 18px;      

                i {
                    font-size: 14px;
                }
            }

            #account-nav{

                li{
                    background-color: @blue;
                    margin-left: 3px;

                    &:hover{
                        background-color: @blueOver;
                    }
                }
            }

            #search-form {
                margin: 0;

                #search-btn { 
                    height: 36px;                    
                    margin: 0; 
                    border: none;
                    box-shadow: none;
                    .border-radius(0);
                    color: white;
                    font-weight: bold;
                    background-color: @blue;
                    padding: 5px 8px;   
                    text-shadow: none;
                    background-image: none;

                    &:hover{
                        background-color: @blueOver;
                    }
                }
                #search-box {         
                    height: 26px;
                    width: 850px;                                             
                    font-size: 20px;
                    -webkit-transition: all 0.1s ease-in-out;
                    -moz-transition: all 0.1s ease-in-out;
                    -o-transition: all 0.1s ease-in-out;
                    transition: all 0.1s ease-in-out;
                    .border-radius(0);
                }      
            }
        }          
    }
}
#bottom-bar {
    padding: 4px 0;
}       
#main-container {   
    margin: 40px 8px 40px; 
}
.dashboard {   
    background: #EFEFEF;
    overflow-x: auto;
    overflow-y: hidden;
}

