block body
    h2= title

    .row
        .span6
            if (typeof errors !== 'undefined')

                each error in errors

                    .alert.alert-error
                        button.close(type='button', data-dismiss='alert') ×

                        strong= error.path
                        |  #{error.type}

            block auth
