block body
    h2= title

    .row
        .span12
            if (typeof errors !== 'undefined')

                each error in errors

                    .alert.alert-error #{error.msg}

            block auth
