block body
    .row
        .col-lg-4.col-lg-offset-4
            h2= title

            if (typeof errors !== 'undefined')
                each error in errors
                    .alert.alert-error #{error.msg}

            block auth
