extends auth

block auth
    form#login(action="/authenticate", method="post")
        .form-group
            input#email.form-control(type='text', name="email", placeholder='Email')

        .form-group
            input#password.form-control(type='password', name="password", placeholder='Password')

        .form-group
            button.btn.btn-warning.btn-block.btn-lg(type='submit') Login
