extends auth

block auth
    form#login(action="/users/session", method="post")
        .control-group
            .controls
                input#email(type='text', name="email", placeholder='Email')

        .control-group
            .controls
                input#password(type='password', name="password", placeholder='Password')

        .control-group
            .controls
                button.btn.btn-success.btn-big(type='submit') Login               
                br
                br                                       
                &nbsp;or&nbsp;
                a.show-signup(href="/signup") sign up