doctype html
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//if gt IE 8
  <html class="no-js">
head
  include ../includes/head
  
  //Application styles
  != stylesheet_tag('css/bookmarklet')

body.modal-bookmarklet
  button#close_opt.close(data-dismiss="modal", aria-hidden="true") ×
  != image_tag("img/logo/logo.png", { alt: "Browserpipe logo"})
  .container-fluid
    .row-fluid
      .span12
        .row-fluid
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-42652416-1', 'listboard.it');
    ga('send', 'pageview');
  script.
    var sendDestroy = function(){window.parent.postMessage("destroy", "*");};
    var saveToFolder = function(){window.parent.postMessage("save_" + selectedFolder, "*");};
    document.getElementById('close_opt').onclick = sendDestroy;
