!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//if gt IE 8
  <html class="no-js">
head
    include ../includes/head

    //Application styles
    != stylesheet_tag('css/index.css')
    
body
    .container-fluid
      .row-fluid.blue
        .span12
          .row-fluid.blue
            header.span12
              .outer.inner 
                .inner
                  h1#logo.pull-left
                    a(href="/") Listboard.it
                  ul.navbar.pull-right
                    li
                      a(href="/") Home
                    li
                      a.icon(href="http://twitter.com/listboardit", target="_blank")
                        i.icon-twitter      
            #index-center.span12
              .inner  
                  block content
      .row-fluid.center
        .span12 
          .row-fluid 
            .inner
              block center
      .row-fluid.blue
      .row-fluid.blue
        .span12
          footer
            p(class="footer-big")
              | Feel free to 
              a(href="mailto:info@listboard.it", target="_blank") contact us
            p(class="footer-small") Lisboard.it ©2013
    block footer