!!! 5
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//if gt IE 8
  <html class="no-js">
head
    include ../includes/head

    //Application styles
    != stylesheet_tag('css/index')
    
body
    .container-fluid
      .row-fluid
        .span12
          .row-fluid
            header.span12
              .outer.inner 
                .inner
                  h1#logo.pull-left
                    a(href="/") browserpipe
                  ul.navbar.topbar
                    li
                      a(href="/") Home
                    li
                      a(href="/login") Login
                    li
                      a.icon(href="http://twitter.com/browserpipe", target="_blank")
                        i.fa.fa-twitter      
            #index-center.span12
              .inner  
                  block content      
      block center
      .row-fluid
      .row-fluid.row-footer
        .span12
          footer
            p(class="footer-big")
              | Feel free to 
              a(href="mailto:info@browserpipe.com", target="_blank") contact us
            p(class="footer-small") Browserpipe.com ©2013
    block footer
