doctype html
//if lt IE 7
  <html class="no-js lt-ie9 lt-ie8 lt-ie7">
//if IE 7
  <html class="no-js lt-ie9 lt-ie8">
//if IE 8
  <html class="no-js lt-ie9">
//if gt IE 8
  <html class="no-js">
head
    include ../includes/head

    //Application styles
    link(type="text/css", rel="stylesheet", href=asset_url('css/index.css'))

body
    header.navbar.navbar-static-top
        .container
            .navbar-header
                a.navbar-brand(href="/")
                    img(src=asset_url("img/logo/logo.png"), alt="Browserpipe logo")

            nav.collapse.navbar-collapse
                ul.nav.navbar-nav.navbar-right
                    li
                        a(href="/login") Login
                    li
                        a(href="http://twitter.com/browserpipe", target="_blank")
                            i.fa.fa-twitter

    .container
        block content
    footer
        .container
            span
              | Feel free to&nbsp;
              a(href="mailto:info@browserpipe.com", target="_blank") contact us
            br
            span Browserpipe.com ©2014

    block bottom
    include ../includes/ga